.maincommentbutton {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  background: white;
  bottom: 0;
  height: 53px;
  padding: 0 1rem;
  border: 1px solid var(--twitter_dark_8);
  cursor: pointer;
}

.maincommentbutton img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.maincommentbottom_replay {
  width: 90%;
  border-radius: 25px;
  background: var(--twitter_dark_7);
  height: 35px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--twitter_dark_6);
}

@media (max-width: 530px) {
  .maincommentbutton {
    display: flex;
  }
}
